In [21]:
import numpy as np
import random as rd
import pandas as pd
import os, sys
import glob
import math

Let's import the CSV file and do some basic analysis on the data. 
1. Let's see how many students are in the list.
2. How many went to Gabriel Pereira school and
3. how many are enrolled in Mousinho da Silveira
4. Some more exploratory analysis.

In [22]:
df = pd.read_csv("student-mat.csv",sep=';')
total = len(df)
print('Total number of students is ' + str(total))

GPschool = df.loc[(df.school== "GP")]#& (df.traveltime==2)]
totalGP = len(GPschool)
print('Total number of GP students is ' + str(totalGP))

MSschool = df.loc[df.school=="MS"]
totalMS = len(MSschool)
print('Total number of MS students is ' + str(totalMS))

highered = df.loc[(df.Medu==4)& (df.Fedu==4)]
nHiEd = len(highered)
percHiEd = nHiEd/total
print('The number of students both of whose parents have a higher education = '+str(nHiEd) + ' which is ' + str(percHiEd) + ' of all student.')

Total number of students is 395
Total number of GP students is 349
Total number of MS students is 46
The number of students both of whose parents have a higher education = 70 which is 0.17721518987341772 of all student.

Now let's describe the data. We will calculate the number of entires (count), average (mean), standard deviation (std), minimum, and maximum and different percentile values.

In [23]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

Now let's look at the count, existence of null values and the datatype for each attribute.

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB

In [25]:
pcc = df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
print('Number of entries with no null values = '+str(len(pcc)) + '\n and the number of all entries = '+str(len(df)))

Number of entries with no null values = 395
 and the number of all entries = 395

Since the data has no null value entries therefore it is complete.

Let's explore some relationship between different attributes and see if any correlations exist.

In [27]:
guardianM = df.loc[df.guardian == 'mother']
guardianMF = guardianM.loc[guardianM.failures>0]
print('Number of stuents whose guardian is their mother and have one or more than one failure  = ' + str(len(guardianMF)))

guardianF = df.loc[df.guardian == 'father']
guardianFF = guardianF.loc[guardianF.failures>0]
print('Number of stuents whose guardian is their father and have one or more than one failure  = ' + str(len(guardianFF)))

#female students that involved romantically and those who are not and theri failure rate
romanFF = df.loc[(df.sex!='M') & (df.romantic=='yes') & (df.failures>0) ]
nonromanFF =df.loc[(df.sex!='M') & (df.romantic=='no') & (df.failures>0) ]
romanMF = df.loc[(df.sex=='M') & (df.romantic=='yes') & (df.failures>0) ]
nonromanMF =df.loc[(df.sex=='M') & (df.romantic=='no') & (df.failures>0) ]

print('The number of female students who have at least one failure and are are romantically involved is ' + str(len(romanFF)) +' vs. those who are not romantically involved = '+ str(len(nonromanFF)))

print('The number for male students in the same order are =' + str(len(romanMF)) + ' and ' + str(len(nonromanMF)))
print(' Therefore we can conclude that boys do a lot better when romantically involved and girl do slightly worse when romantically involved ')


print(len(romanMF),len(nonromanMF)) # Number of romantically involved male students with 1 or more failures vs non romantically invovled.

atHomeMomF = df.loc[(df.Mjob =='at_home')&(df.failures >0)]
notAtHomeMomF = df.loc[(df.Mjob!='at_home')&(df.failures >0)]

print('The number of students with one or more failures whose mother is stay at home mom is ' + str(len(atHomeMomF))+ ' and those whose mother is not stay at home and have at least one failure is ' + str(len(notAtHomeMomF)))
print('. So we can see a correlation between whether a mother is stay at home job and student performance.')

Number of stuents whose guardian is their mother and have one or more than one failure  = 43
Number of stuents whose guardian is their father and have one or more than one failure  = 19
The number of female students who have at least one failure and are are romantically involved is 22 vs. those who are not romantically involved = 18
The number for male students in the same order are =14 and 29
 Therefore we can conclude that boys do a lot better when romantically involved and girl do slightly worse when romantically involved
14 29
The number of students with one or more failures whose mother is stay at home mom is 15 and those whose mother is not stay at home and have at least one failure is 68
. So we can see a correlation between whether a mother is stay at home job and student performance.




**** Now let's generate a regression model that can predict the score for G3.

We are goign to generate an alogirthm that can predict the score for the course G3 for a student. 
theta = inv(transpose(x)*x)*transpose(x)*load;
1. This CSV file 'student-matpython.csv' only includes the numeric data and the score for G3 only. 
2. slic is the value by which we slice the datasate. We only look at 'slic' number of record for our analysis. 
3. Based on the 'slic' number of students, all of whom have 11 number of features to look at
    We generate a 'theta' weight array. 
    'theta' is the weight array which is going to help predict the G3 score for a given student. 
    y1 = dotproduct(theta, features)
    features are the input features which are available for every student.
    y1 is the predicted value.

In [28]:


def predictor(df2,slic):
    slic = 100 
    rown =rd.randint(slic,total-slic)
    

    X1 = df2.iloc[rown-slic:rown-1]

    Y = X1.iloc[:,-1] # This is the matrix of the output values (which are the scores for G3)
    X = X1.iloc[:,0:13] # This is the matrix of the input features. 

    XT = X.T
    one = np.matmul(XT,X)
    two = np.linalg.inv(one)
    three = np.matmul(two,XT)
    theta =np.matmul(three,Y) # The theta matrix creates 
    features = df2.iloc[rown,0:13]
    actualscore = df2.iloc[rown,13]

    
    y1 = np.dot(theta,features)
    return y1,actualscore

In [29]:
df2 = pd.read_csv("student-matpython.csv",sep=',') # This data is different. It includes only the numeric entries because we are going to create a regression based on numeric data.
sum1 = 0
n = 10
yarray = []
for i in range(n):
    y1, actualscore = predictor(df2,100)
    sum1 += (abs(y1-actualscore))
    yarray.append(actualscore)
    print('Prediction is = '+str(y1)+ ' And the actual value is = '+str(actualscore))
    
avgy = sum(yarray)/n
dev = math.sqrt(sum1/n)

print('The average variation of the predicted value from the actual value is '+str(dev) + ' while the average value of the actual score is '+str(avgy))
print('So we can see that our predictor is doing relatively well. However we can test other methods and see which methods is more accurate')

Prediction is = 8.97193575243 And the actual value is = 6
Prediction is = 11.6385825702 And the actual value is = 13
Prediction is = 3.45226286094 And the actual value is = 7
Prediction is = 11.6385825702 And the actual value is = 13
Prediction is = 11.7216715061 And the actual value is = 11
Prediction is = 11.6549305351 And the actual value is = 13
Prediction is = 10.9850844453 And the actual value is = 11
Prediction is = 12.2101200187 And the actual value is = 11
Prediction is = 10.218988419 And the actual value is = 18
Prediction is = 11.6549305351 And the actual value is = 13
The average variation of the predicted value from the actual value is 1.471746083446471 while the average value of the actual score is 11.6
So we can see that our predictor is doing relatively well. However we can test other methods and see which methods is more accurate